*{
    text-align: center;
}
.poster, .beverage{
    width: 20vw;
}
.main-con{
    margin-top: 50px;
}
#randomBtn {
    background-color: green;
    color: orange;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 7px;
    border: none;
    width:20%;
    box-shadow: inset 0 0 0 0 orange;
    transition: ease-out 1s;
}
#randomBtn:hover{
    box-shadow: inset 500px 0 0 0 orange;
    color: green;
    cursor: pointer;
}
